<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  <!-- {% include head.html %} -->
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
        <style>
            div {
                background: rgb(247, 247, 251);
            }
        </style>
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div name="left-part">
            <div>
                <h2>Subtext</h2>
            </div> 
            <div>
               <h1>Make your application secure</h1>
            </div>
            <div>
                Short description
            </div>
            <div>
                Button
            </div>
        </div>
        <div name="right-part">
            <div>
                <h2>Subtext</h2>
            </div> 
            <div>
               <h1>Make your application secure</h1>
            </div>
            <div>
                Short description
            </div>
            <div>
                Button
            </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
  </body>
</html>
