<div class=pentest-methodology>
    <h3>{{ site.translations[site.lang].descriptions.pentest.methodology.title }}</h3>
    <div class="row">
        {% for step in site.translations[site.lang].descriptions.pentest.methodology.steps %}
        <div class="col-md-4 pentest-methodology-card-shadow">
            <h5>{{ step.num }}</h5>
            <h6>{{ step.title }}</h6>
            <div class="title-border"></div>
            <p>{{ step.text }}</p>
        </div>
        {% endfor %}
    </div>
    
</div>