// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.pentest-methodology p {
  text-align: justify;
}

.pentest-methodology h3 {
  padding-bottom: 45px;
}

.pentest-methodology h5 {
  font-size: 3.5rem;
  transform: scaleY(1.1);
  text-align: left;
  margin-bottom: 25px;
  color: $primary;
}

.pentest-methodology h6 {
  font-size: 1.5rem;
  text-align: left;
  color: $primary;
}

.pentest-methodology .title-border {
  border-style: solid;
  border-color: $primary;
  border-width: medium;
}

.pentest-methodology-card-shadow {
  z-index: 11;
}

.pentest-methodology-card-shadow:hover {
  box-shadow: inset 0px 0px 999px 999px rgb(239 239 239 / 80%);
  transform: scale(1.010);
  transition: all 0.3s ease-out;
}



.test-pentest-box {
  transition: opacity 0.5s linear;
}

.test-pentest-box.hidden {
  visibility: hidden;
  opacity: 0;
}

.test-pentest-box.visible {
  visibility: visible;
  opacity: 1;
}

.pentest-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}

.pentest-box figure {
  width: 260px;
}

.pentest-box p {
  // margin-left: 10px;
  text-align: justify;

}