// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.pentest-methodology-steps li {
  text-align: justify;
}

.pentest-methodology-steps li:not(:last-child) {
  margin-bottom: 30px;
}

.pentest-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}

.pentest-box figure {
  width: 260px;
}

.pentest-box p {
  // margin-left: 10px;
  text-align: justify;

}