<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="0; url={{ page.redirect | prepend: site.url }}/" />
  {%- endif -%}
  {% include blog/head.html %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include blog/header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->
    {%- include blog/footer.html %}

    <!-- JavaScripts -->
    {% include blog/scripts/jquery.html %}
    {% include blog/scripts/bootstrap.html %}
    {% include blog/scripts/masonry.html %}
    {% include blog/scripts/misc.html %}
    {% include blog/scripts/mathjax.html %}
    {% include blog/scripts/analytics.html %}
  </body>
</html>
