<!-- Contact -->
<section class="page-section" id="contact">
  <div class="container">
    <div class="row">
      <!-- Title -->
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.translations[site.lang].home.contact.title }}</h2>
        <h3 class="section-subheading text-muted">{{ site.translations[site.lang].home.contact.text }}</h3>
      </div>
    </div>

      <!-- Sale process -->
      <div class="row">
        {% for sale in site.translations[site.lang].descriptions.sales %}
        <div class="col-sm-4">
          <div class="card1">
            <!-- <i class="{{ sale.icon }}"></i> -->
            <h3>{{ sale.title }}</h3>
            <p>{{ sale.text }}</p>
            <div class="go-corner" href="#">
              <div class="go-arrow">{{ sale.num }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>

  <!-- Contact form -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <form id="contactForm"
          action="/"
          novalidate="novalidate" method="POST">
          <!--name="sentMessage"-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input name="name" class="form-control" id="name" type="text"
                  placeholder="{{ site.translations[site.lang].home.contact.name }}"
                  required="required" data-validation-required-message="{{ site.data.sitetext.contact.name-validation | default: "Please enter your name." }}">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input name="_replyto" class="form-control" id="email" type="email"
                  placeholder="{{ site.translations[site.lang].home.contact.email }}"
                  required="required" data-validation-required-message="{{ site.data.sitetext.contact.email-validation | default: "Please enter your email address." }}">
                <p class="help-block text-danger"></p>
              </div>
              <!-- <div class="form-group">
                <input name="phone" class="form-control" id="phone" type="tel"
                  placeholder="{{ site.translations[site.lang].home.contact.phone }}"
                  required="required" data-validation-required-message="{{ site.data.sitetext.contact.phone-validation | default: "Please enter your phone number." }}">
                <p class="help-block text-danger"></p>
              </div> -->
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea name="message" class="form-control" id="message"
                  placeholder="{{ site.translations[site.lang].home.contact.message }}"
                  required="required" data-validation-required-message="{{ site.translations[site.lang].home.contact.message-validation }}"></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <input type="hidden" name="_subject" id="email-subject"
              value="{{ site.translations[site.lang].home.contact.subject }}">
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase"
                type="submit">{{ site.translations[site.lang].home.contact.submit }}</button>
            </div>
            <input type="text" name="_gotcha" style="display:none">
            <input type="hidden" name="_next" value="#" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact -->