<!-- Services -->
<section class="page-section" id="services">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.translations[site.lang].home.services.title }}</h2>
        {% if site.translations[site.lang].home.services.description %}
          <h3 class="section-subheading text-muted">{{ site.translations[site.lang].home.services.description }}</h3>
        {% endif %}
      </div>
    </div>
  
    <div class="row text-center">

    {%- for service in site.translations[site.lang].home.services.list -%}
    <div class="col-md-4">
        <a href="#s{{ forloop.index }}" data-toggle="modal" style="text-decoration: none;">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-inherit-color"></i>
            <i class="{{ service.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">{{ service.title }}</h4>
        </a>
        {% if service.subtitle %}
          <div class="text-muted">{{ service.subtitle }}</div>
        {% endif %}
      </div>
    {%- endfor %}
    </div>
  
  </div>
</section>
{% include home/modals/modal_services.html %}
<!-- End Services -->