<!-- Statistcs -->
<section class="page-section" id="statistics">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.translations[site.lang].home.statistics.title }}</h2>
        {% if site.translations[site.lang].home.statistics.description %}
        <h3 class="section-subheading text-muted">{{ site.translations[site.lang].home.statistics.description }}</h3>
        {% endif %}
      </div>
    </div>

    <div class="row text-center">
      {%- for stat in site.translations[site.lang].home.statistics.list -%}
      <div class="col-md-4">
        <div class="card card-stats mb-4 mb-xl-0"  style="border: none;">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">{{ stat.title }}</h5>
                <span class="h2 font-weight-bold mb-0">{{ stat.value }}</span>
              </div>
              <!-- <div class="col-auto">
                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                  <i class="fas fa-chart-bar"></i>
                </div>
              </div> -->
            </div>
            <!-- <p class="mt-3 mb-0 text-muted text-sm">
              <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
              <span class="text-nowrap">Since last month</span>
            </p> -->
          </div>
        </div>

        <!-- Code to add some kind of trend if needed in the furure -->
        <!-- <a href="#s{{ forloop.index }}" data-toggle="modal" style="text-decoration: none;">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-inherit-color"></i>
              <i class="{{ service.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">{{ service.title }}</h4>
          </a>
          {% if service.subtitle %}
            <div class="text-muted">{{ service.subtitle }}</div>
          {% endif %}
        </div> -->
        <!-- Code to add some kind of trend if needed in the furure -->

      </div>
      {%- endfor %}
    </div>
  </div>
</section>
{% include home/modals/modal_services.html %}
<!-- End Statistcs -->